body {
 background-image: url("../images/images.jpg");
 background-size: cover;
}
h1 {
  color: green;
  padding-left: 150px;
  font-weight: bold;
}
p {
  color: red;
  padding-left: 50px;
}
form {
  padding-left: 50px;
}
.image {
<<<<<<< HEAD
  float: right;
  margin-right: 301px;
=======
  margin-left: 100px;
>>>>>>> c94c92ddc44f38f096db13017200cb918c2fcef9
  width: auto;
  height: auto;
  max-width: 200px;
  max-height: 200px;
}
