body {
 background-image: url("../images/images.jpg");
 background-size: cover;
}
h1 {
  color: green;
  padding-left: 150px;
  font-weight: bold;
}
p {
  color: red;
  padding-left: 50px;
}
form {
  padding-left: 50px;
}
.image {
  float: right;
  margin-right: 301px;
  width: auto;
  height: auto;
  max-width: 500px;
  max-height: 500px;
}
