  body {
  background-image: url("../images/images.jpg");
  background-size: cover;
}
a {
  margin: 15px 5px 5px 0px;
}
h1 {
  text-align: center;
}
h2 {
  text-align: center;
}
.leftside {
float: left;
width: 600px;
padding: 20px;
}
.rightside {
float: right;
padding: 20px;
width: 10%;
height: auto;
}
.leftside2 {
float: left;
padding: 20px;
width: 10%;
height: auto;
}
.rightside2 {
float: right;
width: 600px;
padding: 20px;
}
.leftside3 {
float: left;
width: 600px;
padding: 20px;
}
.rightside3 {
float: right;
padding: 20px;
width: 10%;
height: auto;
}
.Image {
  width: 10%;
  height: auto;
}
