  body {
  background-image: url("../images/images.jpg");
  background-size: cover;
}
a {
  margin: 15px 5px 5px 0px;
}
h1 {
  text-align: center;
}
h2 {
  text-align: center;
}
.leftside {
  float: left;
}
.rightside {
  float: right;
}
.leftside2 {
  float: left;
}
.rightside2 {
  float: right;
}
