body {
    background-image: url("../images/images.jpg");
    background-size: cover;
  }
a {
    margin: 15px 5px 5px 0px;
  }
h1 {
    text-align: center;
    color: green;
}
h2 {
  text-align: center;
  color: red;
}
.leftside {
  float: left;
  width: 600px;
  padding: 20px;
}

.rightside {
  float: right;
  width: 600px;
  padding: 20px;
  }
.bottom-left {
    float: left;
    width: 600px;
    padding: 20px;
  }

.bottom-right {
    float: right;
    width: 600px;
    padding: 20px;
    }
