 body {
  background-image: url("../images/christmas-2972459_960_720.jpg");
  background-size: cover;
}
a {
  margin:5px 5px 5px 0px;
}

h1 {
  text-align: center;
  color: red;
  margin-top: 75px;
  font-weight: bold;
}
p {
  color: green;
}
.image{
  height:auto;
  width:auto;
  max-width:700px;
  max-height:601px;
  float: right;
  margin-right: 100px;
}
