body {
  background-image: url("../images/images.jpg");
  background-size: contain;
}
a {
  margin: 5px 5px 5px 0px;
}
h1 {
  text-align: center;
  color: green;
  font-weight: bold;
}
h2 {
  text-align: center;
  color: red;
}
p {
  color: green;
}
h2 {
  color: red;
}
.position {
  text-align: center;
}
