body {
  background-image: url("../images/images.jpg");
  background-size: contain;
}
a {
  margin: 5px 5px 5px 0px;
}
h1 {
  text-align: center;
  color: green;
  font-weight: bold;
}
h2 {
  text-align: center;
  color: red;
}
.row {
  color: green;
}
.col-xs-3 {
  color: green;
}
.col-xs-4 {
  color: green;
}
.col-xs-5 {
  color: green;
}
.col-xs-6 {
  color: green;
}
.center iframe {
  margin: 0 auto;
  display: block;
  width: 500px;
}
